<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converción de archivo</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="cont-files">
        <div class="cont cont-left">
            <div class="icon">
                <img src="imgs/subir-archivo(2).png" alt="">
            </div>
            <p>SE PERMITEN TXT, PDF, WORD</p>
            <form class="cont-buttons" action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="archivo" accept=".txt,.doc,.docx,.pdf">
                <button type="submit" class="w-100">CORREGIR ARCHIVO</button>
            </form>
        </div>
    </div>
</body>
</html>